<div class="button-drop-main-menu">
    <div class="content-wrapper">
        <div class="content">
            <nav class="mobile-dropdown-menu">
                <div class="backbutton-and-info">
                    <img class="backbutton" src="~/images/icons/back.png" />
                    <div class="info">
                        <h4 class="selected-category-name"></h4>
                        <h4 class="selected-search-type-name"></h4>
                    </div>
                </div>
                <div class="category-selection selection">
                    <a class="nav-link select-category" id="Women">ЖЕНЩИНЫ</a>
                    <hr />
                    <a class="nav-link select-category" id="Men">МУЖЧИНЫ</a>
                    <hr />
                    <a class="nav-link select-category" id="Kids">ДЕТИ</a>
                    <hr />
                    <a class="nav-link select-category" id="Baby">МЛАДЕНЦЫ</a>
                </div>
                <div class="search-type-selection selection">
                    <div class="category-to-select">
                        <a class="nav-link select-search-type" id="ByCollections">ПО КОЛЛЕКЦИЯМ</a>
                        <hr />
                        <a class="nav-link select-search-type" id="BySubcategories">ПО КАТЕГОРИЯМ</a>
                    </div>
                </div>
                <div class="filter-selection selection">
                    <ul class="results">
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
