<div class="drop-main-menu">
    <div class="content-wrapper">
        <div class="content">
            <div class="drop-main-menu-content">
                <div class="drop-main-menu-column">
                    <h3>Коллекции</h3>
                    <ul class="collections-handler">
                    </ul>
                </div>
                <div class="drop-main-menu-column">
                    <h3>Категории</h3>
                    <ul class="subcategories-handler">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>