@import"../_vars.scss";
.product-info {
    display: flex;
    margin: 30px 0px;
}

.carousel-main-picture {
    display: flex;
    justify-content: flex-start;
    margin-right: 50px;
    margin-bottom: 25px;
}

.carousel {
    height: 510px;
    width: 100px;
    margin-right: 60px;

    .splide {
        height: 100%;
    }

    .splide__arrow {
        left: 135% !important;
    }

    .splide__slide {

        img {
            width: 150px;
            height: 150px;
        }
    }
}
.main-picture {
    display: flex;
    max-width: 500px;
    min-width: 200px;

    section {
    }

    img {
        width: 100%;
        min-width: 75px;
        max-height: 1100px;
        height: auto;
    }
}

    .product-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 20px;
    }

    .product-name-price {
        display: flex;
        flex-direction: column;

        h3 {
            font-size: 1.2em;
        }
    }

    .price {
        margin-top: 10px;
        margin-bottom: 10px;
    }
.details-color-row{
    p{
        font-size: 13px;
    }
}
.details-sizes-row {
    p {
        font-size: 13px;
    }
}
.details-items-row {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;

    .selected-item {
        outline: 2px solid black;
        outline-offset: 1px;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px;
        margin-right: 10px;
        height: 30px;
        width: 30px;
        background-color: $darker-bg-color;
        color: black;
        font-size: 12px;
        cursor: pointer;
        border: 1px solid #808080;
    }
}


    .add-item-button {
        padding: 15px 50px;
        background-color: #000000;
        color: white;
        border-style: none;
        font-weight: 800;
        margin-bottom: 30px;

        &:hover {
            background-color: #404040;
        }
    }

.material-row{
    max-width: 300px !important;
}

.product-details-info {
    max-width: 700px;

    p {
        margin-top: 10px;
    }
}

    .product-delivery-info {
        font-size: 14px;


        p {
            margin-bottom: 15px;
        }
    }

.simular-products {
    display: flex;
    flex-direction: column;
    padding: 60px 0px;

    h2 {
        padding: 50px 0px;
    }

    .mini-simular-products {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;



        @media only screen and (max-width: 1100px) {
            & {
                justify-content: space-around !important;

                .product-item {
                    margin-top: 50px;
                }
            }
        }
    }
}



@media only screen and (max-width: 1000px) {
    .product-info {
        flex-direction: column;
    }

    .carousel {
        display: none;
    }

    .carousel-main-picture {
        justify-content: center;
        margin-right: 0px;
    }

    .BuyDetails {
        margin-top: 50px;
    }

    .main-picture{
        img{
            min-width: auto;
        }
    }
}



