@using Store.API.ViewModels;
@model HomePageViewModel;
@{
    Layout = "_Layout";
}
@foreach(var item in Model.PromoPages)
{
    <div class="promo-handler">
        <img src="@item.PictureLink" />
        <div class="content-wrapper">
            <div class="content">
                <div class="promo-info-handler">\
                    <h1>@item.Title</h1>
                    <p>@item.Description</p>
                    <a href="@item.PromoLink">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
}
