$height-header: 65px;
$max-page-width: 1500px;
$space-page-padding: 1.5rem;
$main-bg-color: #ffffff;
$darker-bg-color: #f7f7f7;
$main-red-color: #ff0000;
$main-green-color: #aedcbe;
$darker-font-color: #8c8484;
$darker-font-color-hover: #736a6a;

