@using Store.API.ViewModels.Account;
@using Store.Domain.Enums;
@model RegistrationViewModel
@{
    ViewData["Title"] = "Добавление аккаунта";
    Layout = "~/Views/Shared/_DataManagementLayout.cshtml";
}
<div class="add-new-wrapper">
    <h1>Добавление модератора</h1>
    @using (Html.BeginForm("add", "admin", FormMethod.Post))
    {
        <div class="add-new-prop">
            <input type="text" asp-for="Login" placeholder="Логин" />
            <span asp-validation-for="Login"></span>
        </div>
        <div class="add-new-prop">
            <input asp-for="Email" placeholder="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="add-new-prop">
            <input asp-for="Password" placeholder="Пароль" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="add-new-prop">
            <label>Роль</label>
            <select asp-for="Role">
                <option value="@UserRole.Customer">Покупатель</option>
                <option value="@UserRole.Moderator">Модератор</option>
                <option value="@UserRole.Administrator">Администратор</option>
            </select>
            <span asp-validation-for="Role"></span>
        </div>
        <input type="submit" class="submit-button" value="Добавить" />
    }
</div>
