@using Store.API.ViewModels.Account;
@model RegistrationViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://www.google.com/recaptcha/api.js?render=6LeotkwmAAAAAIcVu7Tuy28yopTPHw0iJ0wl6bD1"></script>
<div class="content-wrapper">
    <div class="content">
        <div class="form-content">
            <form id="registration-form" method="post" asp-controller="Account" asp-action="Registration">
                <input type="hidden" asp-for="captchaToken" id="captchaToken" />
                <h1> Регистрация </h1>
                <div class="login-input-field">
                    <input asp-for="Login" placeholder="Логин" class="form-input" />
                    <span asp-validation-for="Login"></span>
                </div>
                <div class="login-input-field">
                    <input asp-for="Email" type="email" placeholder="Почта" class="form-input" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="login-input-field">
                    <input asp-for="Password" type="password" placeholder="Пароль" class="form-input" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="login-input-field">
                    <input asp-for="PasswordConfirm" type="password" placeholder="Подтвердите пароль" class="form-input" />
                    <span asp-validation-for="PasswordConfirm"></span>
                </div>
                <input type="submit" value="Зарегистрироваться"/>
                <a asp-controller="Account" asp-action="Login">Войти</a>
            </form>
        </div>
    </div>
</div>
<script>
    grecaptcha.ready(function () {
        window.grecaptcha.execute('6LeotkwmAAAAAIcVu7Tuy28yopTPHw0iJ0wl6bD1', { action: 'registration' }).then(function (token) {
            document.getElementById('captchaToken').value = token;
        });
    });
</script>
